<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Blog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-bg_dim">
    <div class="flex flex-column">
      <nav class="z-50 w-lg h-screen bg-bg0 px-5 py-5">
        <div class="flex flex-column">
          <p class="text-orange font-fira italic font-bold text-2xl">~/RaketKedde/blog</p>
        </div>
        <!-- Blog posts -->
        <div>
          <div class="flex flex-column justify-start items-center gap-2 pl-8">
            <span class="nerd-icon text-aqua sscale-125"> </span>
            <p class="text-aqua font-fira text-2xl">posts</p>
          </div>
          <div class="flex flex-column justify-start items-center gap-2 pl-16">
            <span class="nerd-icon text-red scale-125"></span>
            <p class="text-aqua font-fira text-2xl">Hello world!</p>
          </div>
        </div>

        <!-- Projects -->
        <div>
          <div class="flex flex-column justify-start items-center gap-2 pl-8">
            <span class="nerd-icon text-aqua scale-125"> </span>
            <p class="text-aqua font-fira text-2xl">projects</p>
          </div>
          <div class="flex flex-column justify-start items-center gap-2 pl-16">
            <span class="nerd-icon text-red scale-125"></span>
            <p class="text-aqua font-fira text-2xl">This blog!</p>
          </div>
          <div class="flex flex-column justify-start items-center gap-2 pl-16">
            <span class="nerd-icon text-blue scale-125"></span>
            <p class="text-aqua font-fira text-2xl">Public project</p>
          </div>
          <div class="flex flex-column justify-start items-center gap-2 pl-16">
            <span class="nerd-icon text-purple scale-125"></span>
            <p class="text-aqua font-fira text-2xl">Another project</p>
          </div>
        </div>
        
        <!-- Socials -->
        <div>
          <div class="flex flex-column justify-start items-center gap-2 pl-8">
            <span class="nerd-icon text-aqua sscale-125"> </span>
            <p class="text-aqua font-fira text-2xl">Socials</p>
          </div>
          <div class="flex flex-column justify-start items-center gap-2 pl-16">
            <span class="nerd-icon text-fg scale-125"></span>
            <p class="text-aqua font-fira text-2xl">GitHub</p>
          </div>
          <div class="flex flex-column justify-start items-center gap-2 pl-16">
            <span class="nerd-icon text-blue scale-125"></span>
            <p class="text-aqua font-fira text-2xl">LinkedIn</p>
          </div>
        </div>
      </nav>
      <main class="container mx-auto mt-28 px-5">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
